body {
	margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Canterell', 'Fire Sans', 'Droid Sans', 'Helventica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: cource-code-pro, Menlo, Monaco, Consolas, 'Courier new',
		monospace;
}